APScheduler==3.10.3
backports.zoneinfo==0.2.1
certifi==2023.7.22
charset-normalizer==2.0.12
click==8.0.4
cssselect==1.1.0
dataclasses==0.8
environs==9.5.0
Flask==2.0.3
Flask-Cors==4.0.0
greenlet==2.0.2
gunicorn==21.2.0
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
ip-area==0.0.1
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.9.3
MarkupSafe==2.0.1
marshmallow==3.14.1
packaging==21.3
parsel==1.6.0
peewee==3.16.3
psutil==5.9.5
PyJWT==2.4.0
pyparsing==3.0.7
python-dotenv==0.20.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
requests==2.27.1
scrapyd-api==0.0.1
session-request==0.0.4
six==1.16.0
SQLAlchemy==1.4.49
typing-extensions==4.1.1
tzdata==2023.3
tzlocal==4.2
ua-parser==0.18.0
urllib3==1.26.16
user-agents==2.2.0
w3lib==2.0.1
Werkzeug==2.0.3
zipp==3.6.0
Flask-Compress==1.15
whitenoise==5.3.0
